<%- include('../inc/head.ejs') %>
</head>
<%- include('../inc/nav.ejs') %>

<body>
	<main>

		<%- include('../inc/error-msg.ejs', { errorMsg }) %>

		<form action="/admin/add-product" method="post" class="product-form">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">

			<div class="form-control">
				<label for="name"> Product name </label>
				<input id="name" type="text" name="name" value="<%= oldValues.name %>"
					class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>">
			</div>

			<div class="form-control">
				<label for="imageUrl"> Image URL </label>
				<input type="text" id="imageUrl" name="imageUrl" value="<%= oldValues.imageUrl %>"
					class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>">
			</div>

			<div class="form-control">
				<label for="price"> Price </label>
				<input type="number" id="price" step=".01" name="price" value="<%= oldValues.price %>"
					class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>">
			</div>

			<div class="form-control">
				<label for="description"> Description </label>
				<textarea rows="6" id="description" name="description"
					class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"><%= oldValues.description %></textarea>
			</div>

			<div><button class="btn" type="submit">Add Product</button></div>
		</form>
	</main>
	<%- include('../inc/end.ejs') %>