<header class="main-header">
	<h1><a href="/">My Shop</a></h1>
	<nav class="main-header__nav">
		<ul class="main-header__item-list">

			<li class="main-header__item">
				<a href="/" class="<%- (activeLink == '/') ? 'active' : '' %>"> Home </a>
			</li>

			<li class="main-header__item">
				<a href="/products" class="<%- (activeLink == '/products') ? 'active' : '' %>"> Products </a>
			</li>

			<li class="main-header__item">
				<a href="/cart" class="<%- (activeLink == '/cart') ? 'active' : '' %>"> Cart </a>
			</li>

			<li class="main-header__item">
				<a href="/orders" class="<%- (activeLink == '/orders') ? 'active' : '' %>"> Orders </a>
			</li>

			<% if (isAuth)  { %>
			<li class="main-header__item">
				<a class="<%- (activeLink == '/admin/add-product') ? 'active' : '' %>" href="/admin/add-product"> Add
					Product </a>
			</li>

			<li class="main-header__item">
				<a class="<%- (activeLink == '/admin/products') ? 'active' : '' %>" href="/admin/products"> Admin
					Products </a>
			</li>
			<% } %>

			<li class="main-header__item">
				<a class="<%- (activeLink == '/login') ? 'active' : '' %>" href="/login">
					Login
				</a>
			</li>

		</ul>
	</nav>
</header>
<div class="content">