<%- include('../inc/head.ejs') %>
</head>

<body>
    <%- include('../inc/nav.ejs') %>
    <main>
        <% 
        if (products.length) 
        { %>
        <ul class="cart__item-list">
            <% 
            products.forEach(product => { 
            %>
            <li class="cart__item">
                <h1><%= product.name %></h1>
                <h2>Quantity: <%=  22 %></h2>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= product.id %>" name="productId">
                    <button onclick="return confirm('Are you sure to delete product from cart')" class="btn danger"
                        type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
        <div class="centered">
            <form action="/create-order" method="post">
                <button type="btn"> Checkout </button>
            </form>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>

    <%- include('../inc/end.ejs') %>