<%- include('../inc/head.ejs') %>
</head>

<body>
	<%- include('../inc/nav.ejs') %>
	<% if (products.length) { %>
	<div class="grid">

		<% products.forEach( (product) =>  { %>
		<article id="<%= product.id %>" class="card product-item">
			<header class="card_header">
				<h1 class="product_title"> <%= product.name %> </h1>
			</header>
			<div class="card_image">
				<a href="products/<%= product._id%>">
					<img src="/img/<%= product.imageUrl %>" alt="<%= product.name %>">
				</a>
			</div>

			<div class="card_content">
				<h2 class="product_price">$<%= product.price %></h2>
				<p class="product_description"><%= product.description %></p>
			</div>
			<div class="card_actions">
				<% if (isAuth) { %>
				<%-  include('../inc/add-to-cart-form.ejs', {product} ) %>
				<% } %>
			</div>
		</article>
		<% }) %>
	</div>
	<ul class="pagination">
		<li><a href="?page=1">1</a></li>
		<li><a href="?page=1">2</a></li>
	</ul>
	<% } else { %>
	<h2> No Products </h2>
	<% } %>


	<%- include('../inc/end.ejs') %>