<%- include('../inc/head.ejs') %>
</head>

<body>
    <%- include('../inc/nav.ejs') %>
    <main>
        <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
        <% } else { %>
        <ul class="orders">
            <% orders.forEach(order => { %>
            <li class="orders__item">
                <h1>Order - # <%= order._id %></h1>
                <ul class="orders__products">
                    <% order.items.forEach(product => { %>
                    <li class="orders__products-item">
                        <%= product.name %>
                        (<%= product.quantity %>)
                    </li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </main>
    <%- include('../inc/end.ejs') %>